{% extends "base_login.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Coop</b>consum</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Inicia sesión para acceder al sistema</p>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="Usuario" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
          </div>
        </div>
      </form>
      <p class="mb-0 mt-3 text-center">
        <a href="{% url 'web_home' %}">Tornar a la pàgina principal</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}

